[catalog]
schema = "cdisc-transpiler.conformance-rules"
schema_version = 1
ruleset = "sdtm-sdtmig-conformance"
ruleset_version = "v2_0"

[[rule]]
id = "CR-REQ-0001"
title = "Required variable must be present"
category = "requiredness"
severity = "error"

[rule.scope]
domains = ["*"]
variables = ["*"]
classes = []

[rule.predicate]
name = "column_present"
params = { column = "${var}", required_only = true }

message = "Missing required variable ${var}"

[[rule]]
id = "CR-CT-0001"
title = "CT values must exist (non-extensible)"
category = "controlled-terminology"
severity = "error"

[rule.scope]
domains = ["*"]
variables = ["*"]
classes = []

[rule.predicate]
name = "ct_membership"
params = { column = "${var}", codelist = "${codelist_code}", extensible_ok = true }

message = "Invalid CT value(s) for ${var} (codelist ${codelist_code})"
