[package]
name = "sdtm-xpt"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true

[dev-dependencies]
proptest.workspace = true
