[package]
name = "sdtm-ingest"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
polars.workspace = true
sdtm-model = { path = "../sdtm-model" }
tracing.workspace = true
