on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: CI
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      # Install system dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libxdo-dev

      # make sure all code has been formatted with rustfmt
      - run: rustup component add rustfmt
      - name: check rustfmt
        run: cargo fmt -- --check --color always

      # run clippy to verify we have no warnings
      - run: rustup component add clippy
      - run: cargo fetch
      - name: cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: cargo test
        run: cargo test --all

  test:
    name: Test
    #    strategy:
    #      matrix:
    #        os: [ubuntu-22.04, macos-14, windows-2022]
    #    runs-on: ${{ matrix.os }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      # Install system dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libxdo-dev

      - run: cargo fetch
      - name: cargo test build
        run: cargo build --tests --release
      - name: cargo test
        shell: bash
        run: cargo test --release
#        not included in matrix test runs for now due to issues with github actions runners
#      - name: detects powershell
#        if: ${{ matrix.os != 'macos-14' }}
#        shell: pwsh
#        run: cargo test --release -- --ignored is_powershell_true
#      - name: doesn't detect powershell
#        if: ${{ matrix.os != 'macos-14' }}
#        shell: bash
#        run: cargo test --release -- --ignored is_powershell_false
